Tugas 8 AI Finance.json
{
  "name": "Tugas 8 AI Finance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        0
      ],
      "id": "e520706f-a807-4e6a-a125-628570a526df",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the following tweet. Respond ONLY with ONE word: 'Positive', 'Negative', or 'Neutral'.\n\nData Scrapping:\n{{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -128,
        0
      ],
      "id": "539d99ea-1149-4dc3-8d1b-c1b5bd7c84c2",
      "name": "Analisis Sentimen"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b10651e-86da-4aff-a8ac-138424a9a43c",
              "name": "$BTC",
              "value": "{\n  \"BTC\": {\n    \"total\": 109,\n    \"bullish\": 49,\n    \"bearish\": 43,\n    \"neutral\": 17,\n    \"avg_compound\": 0.0499,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-24T04:13:33.806388\"\n  },\n  }",
              "type": "string"
            },
            {
              "id": "fe9191e3-f37a-43f4-953c-dcb14e95b735",
              "name": "$ETH",
              "value": "={\n\"ETH\": {\n    \"total\": 69,\n    \"bullish\": 24,\n    \"bearish\": 28,\n    \"neutral\": 17,\n    \"avg_compound\": -0.0526,\n    \"signal\": \"BEARISH\",\n    \"scraped_at\": \"2026-04-24T04:13:33.807080\"\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        0
      ],
      "id": "7425e638-f02a-4b1e-ba6f-0629bad5a397",
      "name": "Data Scrapping"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        -144
      ],
      "id": "1c41dd6c-22b3-48bc-8bfd-963650ba2e4e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "8GFoCQko2aRdwfX8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        272
      ],
      "id": "96f8c0c4-1b06-48b4-b9dd-90c0ac1f2758",
      "name": "Tiap Jam 7 Pagi"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IpBDkXXhgScebe7sju-diP06fNTLuzUjSG6KripQN54",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IpBDkXXhgScebe7sju-diP06fNTLuzUjSG6KripQN54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IpBDkXXhgScebe7sju-diP06fNTLuzUjSG6KripQN54/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "$BTC": "={{ $('Data Scrapping').item.json.$BTC }}",
            "$ETH": "={{ $('Data Scrapping').item.json.$ETH }}"
          },
          "matchingColumns": [
            "$BTC"
          ],
          "schema": [
            {
              "id": "$BTC",
              "displayName": "$BTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "$ETH",
              "displayName": "$ETH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "8215ad6f-50ed-4f7c-b7d3-0833628b9515",
      "name": "Penyimpanan Hasil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AQapvwIov7xEtGjW",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IpBDkXXhgScebe7sju-diP06fNTLuzUjSG6KripQN54",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IpBDkXXhgScebe7sju-diP06fNTLuzUjSG6KripQN54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IpBDkXXhgScebe7sju-diP06fNTLuzUjSG6KripQN54/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        272
      ],
      "id": "2861b6ea-1066-4380-b72e-211ebe5983d4",
      "name": "Baca Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AQapvwIov7xEtGjW",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua baris dari node \"Google Sheets\"\n// **Pastikan nama node Anda adalah \"Google Sheets\"**\nconst items = $items(\"Baca Data\");\n\nlet positive = 0;\nlet negative = 0;\nlet neutral = 0;\nlet total = 0;\n\n// Loop melalui setiap baris\nfor (const item of items) {\n  // Ambil nilai dari kolom \"Sentiment\"\n  const sentiment = item.json.Sentiment;\n  \n  if (sentiment === 'Positive') {\n    positive++;\n  } else if (sentiment === 'Negative') {\n    negative++;\n  } else if (sentiment === 'Neutral') {\n    neutral++;\n  }\n}\n\ntotal = items.length;\n\n// Kembalikan hasil perhitungan\nreturn {\n  total_tweets: total,\n  sentimen_positif: positive,\n  sentimen_negatif: negative,\n  sentimen_netral: neutral\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        272
      ],
      "id": "719ab449-28ee-481f-8a76-35b2168db6dc",
      "name": "Analisis Data"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        128
      ],
      "id": "381a9e2c-53b7-481f-aed2-99bb02a2e6a6",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "8GFoCQko2aRdwfX8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan kesimpulan singkat (dalam bahasa Indonesia) untuk laporan Telegram, berdasarkan data berikut:\n\n- Total Tweet Dianalisis: {{ $json.total_tweets }}\n- Sentimen Positif: {{ $json.sentimen_positif }}\n- Sentimen Negatif: {{ $json.sentimen_negatif }}\n- Sentimen Netral: {{ $json.sentimen_netral }}\n\nBerikan ringkasan singkat tentang apa arti angka-angka ini (misalnya, \"Sentimen hari ini cenderung positif,\" \"Ada banyak keraguan di pasar,\" dll.).\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        272
      ],
      "id": "c4cb575d-6d5e-467c-97e4-3241b2f67f27",
      "name": "Membuat Kesimpulan"
    },
    {
      "parameters": {
        "chatId": "6123096303",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        272
      ],
      "id": "7fbe3aad-a76d-481a-b430-a320b0844274",
      "name": "Kirim Laporan",
      "webhookId": "8b4184f1-c1db-4309-b83b-e8cfe0ca5028",
      "credentials": {
        "telegramApi": {
          "id": "y9XFAAVWglBFIfm4",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Scrapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Scrapping": {
      "main": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Sentimen": {
      "main": [
        [
          {
            "node": "Penyimpanan Hasil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiap Jam 7 Pagi": {
      "main": [
        [
          {
            "node": "Baca Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data": {
      "main": [
        [
          {
            "node": "Analisis Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Data": {
      "main": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kesimpulan": {
      "main": [
        [
          {
            "node": "Kirim Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c9c465d-6fa7-4f74-b72e-467a1f5a8663",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64679a3a8c47c7b604e26e5c491bc3e4f6e9fb8c6378800aff42260e2b3df6bc"
  },
  "id": "PER0H7t2eJmGOf0w",
  "tags": []
}