Tugas 6(2) AI Finance.json
{
  "name": "Tugas 6(2) AI Finance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        -32
      ],
      "id": "d84fdb32-44d3-4fb1-b117-a7a4d8f61dad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58fa8ec0-5dd1-40a0-914c-5b0732c419b1",
              "leftValue": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        -32
      ],
      "id": "99ca55e4-8db7-43f4-9599-8c1c71bcaac2",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -32
      ],
      "id": "6bb0f465-cf09-4fdc-95ae-2ba04229ad2a",
      "name": "Filter 7 Hari & Format Teks"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iaXtQqBszA3dafxAz45IXCgub3L_eaj2BD7nUsP5ZHM",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iaXtQqBszA3dafxAz45IXCgub3L_eaj2BD7nUsP5ZHM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iaXtQqBszA3dafxAz45IXCgub3L_eaj2BD7nUsP5ZHM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        -32
      ],
      "id": "a0ad2e11-72e7-4ce0-a6c9-e55a7e1a514c",
      "name": "Ambil Log Pengeluaran",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AQapvwIov7xEtGjW",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.promptData }} (Notes: sesuaikan dengan nama nodes kalian).\n\n---\nInstruksi: \"Tulis ringkasan kebiasaan belanja saya minggu ini dan beri 1 saran penghematan.\"\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        -128
      ],
      "id": "96406c1a-ea46-40df-abd2-f483c81f2927",
      "name": "Analisis Pengeluaran Mingguan"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        352,
        -304
      ],
      "id": "35cf31c2-f6bb-47d2-a076-ff065cf4b59a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "8GFoCQko2aRdwfX8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6123096303",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        64
      ],
      "id": "c2dc06b0-de8a-4d61-8b96-1950d6d5aa45",
      "name": "Pesan False",
      "webhookId": "27b0520d-c1a5-4d1c-b97f-eac887437216",
      "credentials": {
        "telegramApi": {
          "id": "y9XFAAVWglBFIfm4",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6123096303",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -128
      ],
      "id": "ccb21daa-d3c9-4a03-912d-153e7652ca41",
      "name": "Pesan True",
      "webhookId": "692f3925-dae3-46fd-b5e8-c948e0cced9c",
      "credentials": {
        "telegramApi": {
          "id": "y9XFAAVWglBFIfm4",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ambil Log Pengeluaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 7 Hari & Format Teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Log Pengeluaran": {
      "main": [
        [
          {
            "node": "Filter 7 Hari & Format Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analisis Pengeluaran Mingguan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Pengeluaran Mingguan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Pengeluaran Mingguan": {
      "main": [
        [
          {
            "node": "Pesan True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a2e18f1f-2663-47cc-b770-e731c89c1404",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64679a3a8c47c7b604e26e5c491bc3e4f6e9fb8c6378800aff42260e2b3df6bc"
  },
  "id": "gJta6CGjIhyiPHRZ",
  "tags": []
}