Tugas 1 Finance.json
{
  "name": "Tugas 1 Finance",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuatan Invoice Otomatis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien",
              "fieldName": "Nama Klien",
              "requiredField": true
            },
            {
              "fieldLabel": "Jam Kerja",
              "fieldName": "Jam Kerja"
            },
            {
              "fieldLabel": "Rate",
              "fieldName": "Rate"
            },
            {
              "fieldLabel": "Email Klien",
              "fieldName": "Email Klien"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -608,
        16
      ],
      "id": "e8afa5e6-df26-4730-8b5f-42be8961afcf",
      "name": "On form submission",
      "webhookId": "6e2f17eb-64ad-4f3e-8be7-28b298a26e96"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdb44588-3579-48e4-a5da-4a3022463610",
              "name": "Total Biaya",
              "value": "={{ (Number($json[\"Jam Kerja\"]) * Number($json[\"Rate\"].replace(/\\./g, \"\"))).toLocaleString(\"id-ID\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        16
      ],
      "id": "c73139e7-ade9-4c54-bbae-12c744545f42",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background: #f4f6f8;\n      padding: 40px;\n      color: #333;\n    }\n\n    .invoice-wrapper {\n      max-width: 800px;\n      margin: auto;\n      background: #ffffff;\n      border-radius: 8px;\n      padding: 40px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n\n    .invoice-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      border-bottom: 2px solid #eaeaea;\n      padding-bottom: 20px;\n      margin-bottom: 30px;\n    }\n\n    .invoice-header h1 {\n      margin: 0;\n      font-size: 28px;\n      color: #1f2937;\n      letter-spacing: 1px;\n    }\n\n    .invoice-meta {\n      text-align: right;\n      font-size: 14px;\n      color: #555;\n    }\n\n    .section {\n      margin-bottom: 30px;\n    }\n\n    .section-title {\n      font-size: 14px;\n      font-weight: bold;\n      color: #6b7280;\n      text-transform: uppercase;\n      margin-bottom: 8px;\n    }\n\n    .client-info p {\n      margin: 4px 0;\n      font-size: 15px;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n\n    table thead th {\n      background: #f9fafb;\n      border-bottom: 2px solid #e5e7eb;\n      padding: 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n\n    table tbody td {\n      padding: 12px;\n      border-bottom: 1px solid #e5e7eb;\n      font-size: 14px;\n    }\n\n    table th:nth-child(2),\n    table th:nth-child(3),\n    table th:nth-child(4),\n    table td:nth-child(2),\n    table td:nth-child(3),\n    table td:nth-child(4) {\n      text-align: right;\n    }\n\n    .total-box {\n      margin-top: 30px;\n      display: flex;\n      justify-content: flex-end;\n    }\n\n    .total-box table {\n      width: 300px;\n    }\n\n    .total-box td {\n      padding: 10px;\n      font-size: 15px;\n    }\n\n    .total-box tr:last-child td {\n      font-weight: bold;\n      font-size: 18px;\n      border-top: 2px solid #111827;\n    }\n\n    .footer {\n      margin-top: 50px;\n      font-size: 13px;\n      color: #6b7280;\n      text-align: center;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"invoice-wrapper\">\n\n    <!-- HEADER -->\n    <div class=\"invoice-header\">\n      <h1>INVOICE</h1>\n      <div class=\"invoice-meta\">\n        <div>Tanggal: {{ $now }}</div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n\n    <!-- CLIENT INFO -->\n    <div class=\"section client-info\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission').item.json['Email Klien'] }}</p>\n    </div>\n\n    <!-- DETAIL TABLE -->\n    <div class=\"section\">\n      <div class=\"section-title\">Detail Pekerjaan</div>\n\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi</th>\n            <th>Jam</th>\n            <th>Rate</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Jasa Pekerjaan / Konsultasi</td>\n            <td>{{ $('On form submission').item.json['Jam Kerja'] }}</td>\n            <td>{{ $('On form submission').item.json['Rate'] }}</td>\n            <td>{{ $json['Total Biaya'] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- TOTAL -->\n    <div class=\"total-box\">\n      <table>\n        <tr>\n          <td>Total Tagihan</td>\n          <td style=\"text-align:right;\">\n            Rp {{ $json['Total Biaya'] }}\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- FOOTER -->\n    <div class=\"footer\">\n      Invoice ini dibuat secara otomatis.<br>\n      Terima kasih atas kepercayaan Anda.\n    </div>\n\n  </div>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -192,
        16
      ],
      "id": "940e05cf-be49-415b-a112-bbcea9796946",
      "name": "HTML"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        16,
        16
      ],
      "id": "5865be34-415b-4128-8b8f-5c4914fd8bdc",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "AhzcKrX99hJuXAKp",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        16
      ],
      "id": "3d038518-b785-4be6-96f0-f42ad6babc33",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json[\"Email Klien\"] }}{{ $('On form submission').item.json['Email Klien'] }}",
        "subject": "=Invoice dari Vedara Company untuk {{ $('Edit Fields').item.json[\"Nama Klien\"] }}{{ $('On form submission').item.json['Nama Klien'] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong>,</p>  <p>Terima kasih atas kepercayaan Anda telah menggunakan jasa kami. <br> Bersama email ini, kami lampirkan invoice untuk pekerjaan yang telah diselesaikan.</p>  <p>Berikut adalah ringkasan singkat tagihan Anda:</p> <ul>     <li><strong>Total Jam Kerja:</strong>  {{ $('On form submission').item.json['Jam Kerja'] }}jam</li>     <li><strong>Total Tagihan:</strong> {{ $('Edit Fields').item.json['Total Biaya'] }}</li>     <li><strong>Jatuh Tempo:</strong> 14 hari</li> </ul>  <p>Detail lengkap, termasuk rincian pekerjaan dan instruksi pembayaran, dapat Anda temukan pada file PDF yang terlampir:{{ $json.pdf_url }}</p>  <blockquote style=\"border-left: 4px solid #ccc; padding-left: 15px; margin-left: 0; font-style: italic;\">   <strong>Catatan Keamanan:</strong> Untuk melindungi Anda, kami tidak akan pernah meminta informasi password atau data sensitif melalui email. Harap lakukan pembayaran hanya ke nomor rekening resmi yang tertera di dalam invoice PDF. </blockquote>  <p>Jika ada pertanyaan lebih lanjut, jangan ragu untuk membalas email ini.</p>  <p>Hormat kami,</p>  <p><strong>[Zen / Vedara Company]</strong><br> [Vedara / 123456789]</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        16
      ],
      "id": "4650bbf0-9125-4ef3-b058-4416745a3c23",
      "name": "Send a message",
      "webhookId": "4736593c-089a-426e-bc0e-80bafab3e4b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "OJXzVsm6pi4KCwmF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "56675f85-96d3-4724-adf3-fd8f304b360b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64679a3a8c47c7b604e26e5c491bc3e4f6e9fb8c6378800aff42260e2b3df6bc"
  },
  "id": "f4onSLyaojFaMo9x",
  "tags": []
}