Tugas 3 AI Pemasaran.json
{
  "name": "Tugas 3 AI Pemasaran",
  "nodes": [
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -32,
        80
      ],
      "id": "18f41493-5d42-406c-91ff-62170fec89ce",
      "name": "Menunggu Proses Generate Gambar",
      "webhookId": "5b891eff-e6a0-4e67-810f-91038083979d"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Submit Text Prompt Untuk Generate Video').item.json.api_key }} "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        80
      ],
      "id": "28b065bb-51e3-4bff-96ba-d20c21855ff3",
      "name": "Mendapatkan Status Generate",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd58a265-8fd7-45bd-b419-1fae10db4bed",
              "leftValue": "=success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        80
      ],
      "id": "db6e608a-7c63-4b99-9df1-696f9bc090da",
      "name": "Cek Jika Generate Sudah Selesai"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.api_key}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{ $json.img_url.replace('file/d/', 'uc?export=view&id=').split('/view')[0] }}\"\n    ],\n    \"prompt\": \"{{$json.prompt}}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        80
      ],
      "id": "0c8c2e03-b825-4166-8702-2f843839e940",
      "name": "Mengirim Video Generation Request ke kie.api"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        80
      ],
      "id": "21261a5d-1e76-4709-9a26-650b3627dc22",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{  $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        80
      ],
      "id": "77ddd059-6d8b-447f-8ed3-4d3b8d049658",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1s4FxbfSuUfPJnsZUQAfaYvhj1HFh2qah",
          "mode": "list",
          "cachedResultName": "Hasil Topik 2 & 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1s4FxbfSuUfPJnsZUQAfaYvhj1HFh2qah"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        80
      ],
      "id": "0d1b474f-499d-46a8-ae9f-ca850143e0f7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Lk95gp4PcFawwfxX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Generate Video Konten Otomatis",
        "formDescription": "isi form dibawah ini untuk memulai proses generate video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -480,
        80
      ],
      "id": "8921bec3-cc12-482d-8115-f507327a3324",
      "name": "Submit Text Prompt Untuk Generate Video",
      "webhookId": "8c4c5783-8895-4a76-bd90-16ce84980a5c"
    }
  ],
  "pinData": {},
  "connections": {
    "Menunggu Proses Generate Gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Cek Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Video Generation Request ke kie.api": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Text Prompt Untuk Generate Video": {
      "main": [
        [
          {
            "node": "Mengirim Video Generation Request ke kie.api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2584615f-1931-43f2-ba0b-caeba9233785",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64679a3a8c47c7b604e26e5c491bc3e4f6e9fb8c6378800aff42260e2b3df6bc"
  },
  "id": "f953Kw5tAjd1kR0D",
  "tags": []
}