Tugas 1 AI SDM.json
{
  "name": "Tugas 1 AI SDM",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1iu8fAVvxelJ23IL0j7gD5TETosBsODZVBd_8oEiF-dY",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iu8fAVvxelJ23IL0j7gD5TETosBsODZVBd_8oEiF-dY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1894810925,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iu8fAVvxelJ23IL0j7gD5TETosBsODZVBd_8oEiF-dY/edit#gid=1894810925"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        16
      ],
      "id": "36233e18-55f9-4f19-9e88-fae0f6b3da01",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1aSxveGZGFIqS5Of",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "728f9bdd-cf2c-4f81-a1ee-82d66e7b676c",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "4c4a2254-ca98-4ecb-9c87-d8c25af980a5",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "703b3846-c9b9-4356-a10b-6caa47aca792",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "0206f71a-d11e-4b32-a4d1-f23680e50b9f",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "f0f9bda7-a9be-4662-ba82-227d031cf051",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "ef701fd3-4a4d-4cf2-9a83-ee5dc5e6a4bd",
              "name": "Position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        16
      ],
      "id": "79360947-de8b-4b73-a114-d8718be2680b",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "69eaf86cb9f82415e760851a",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -144,
        16
      ],
      "id": "0b80d5d2-cf33-4efe-9696-01b58632a8ad",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "w58yR5mXyTKc4DsZ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iu8fAVvxelJ23IL0j7gD5TETosBsODZVBd_8oEiF-dY",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iu8fAVvxelJ23IL0j7gD5TETosBsODZVBd_8oEiF-dY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 158050437,
          "mode": "list",
          "cachedResultName": "Checlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iu8fAVvxelJ23IL0j7gD5TETosBsODZVBd_8oEiF-dY/edit#gid=158050437"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        16
      ],
      "id": "c1026000-6f91-4cfb-be5f-61591e1d71d5",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AQapvwIov7xEtGjW",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69eafde2e9b037af0a4ce339",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        272,
        16
      ],
      "id": "c4e3c9e1-368b-4d8f-94ea-ae4e9c10ea92",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "w58yR5mXyTKc4DsZ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        16
      ],
      "id": "f3d019a0-a0d2-4716-8473-c65459e5a681",
      "name": "Gabung jadi 1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat Datang di Perusahaan,  {{ $json.sheet['First Name'] }} {{ $json.sheet['Last Name'] }}",
        "message": "=Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }},  \n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.  \n\nBerikut daftar tugas onboarding Anda: <ul> <li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li> </ul>  \n\nJika ada pertanyaan, reply email ini.  Salam, Tim HR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        16
      ],
      "id": "c045a685-771d-4a4d-b8fe-292a78d34325",
      "name": "Send a message",
      "webhookId": "adfb5afa-abe1-4ff6-bce0-5193b70057e4",
      "credentials": {
        "gmailOAuth2": {
          "id": "OJXzVsm6pi4KCwmF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Gabung jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung jadi 1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "83f4f20f-902f-4637-a235-0d3e3e958106",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64679a3a8c47c7b604e26e5c491bc3e4f6e9fb8c6378800aff42260e2b3df6bc"
  },
  "id": "kvi7APfdmSqMSRlj",
  "tags": []
}