Tugas 2 Pertemuan 1 Implementasi AI (1).json
{
  "name": "Tugas 2 Pertemuan 1 Implementasi AI",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis",
        "formDescription": "isi form dibawah ini untuk memulai proses generate gambar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1168,
        48
      ],
      "id": "1c4c0382-2370-4c72-b037-db7aa0bc7c61",
      "name": "Submit Text Prompt Untuk Generate Gambar",
      "webhookId": "c26181f6-e3aa-4f92-8d91-3d3fbe96c223"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.api_key}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt.replace(/\\\"/g, '\\\\\\\"') }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -960,
        48
      ],
      "id": "a7c31e07-b714-48dd-8001-734c06150812",
      "name": "Mengirim Image Generation Request ke kie.api"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -752,
        48
      ],
      "id": "d9de96f8-4dae-468f-88c4-c2174c24d57c",
      "name": "Menunggu Proses Generate Gambar",
      "webhookId": "5b891eff-e6a0-4e67-810f-91038083979d"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Submit Text Prompt Untuk Generate Gambar\"].json[\"api_key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -544,
        48
      ],
      "id": "8d1293ef-8116-460b-8154-ceb4ae46ab5f",
      "name": "Mendapatkan Status Generate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd58a265-8fd7-45bd-b419-1fae10db4bed",
              "leftValue": "=success",
              "rightValue": "={{$json.data.state}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        48
      ],
      "id": "4073f223-8e4b-49ce-89a4-93dee85577c6",
      "name": "Cek Jika Generate Sudah Selesai"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        32
      ],
      "id": "2cbb6d3e-f4d0-4a43-a527-dc436680f7d1",
      "name": "Format Result"
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        32
      ],
      "id": "79b844d4-426b-4f57-915f-e1c072be4dbd",
      "name": "Loop Image"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        32
      ],
      "id": "d9af6939-83fc-4f6c-a48c-7ed675308706",
      "name": "Download Gambar"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "6123096303",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        32
      ],
      "id": "2face868-b281-4dd3-a1db-6cc30e8c5b3b",
      "name": "Kirim Hasil Generate",
      "webhookId": "423edf1f-0b7d-4f89-a53a-cb4491ab41ce",
      "credentials": {
        "telegramApi": {
          "id": "y9XFAAVWglBFIfm4",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Submit Text Prompt Untuk Generate Gambar": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request ke kie.api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request ke kie.api": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Cek Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Kirim Hasil Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2dd91439-e7c5-47c0-a06f-ba1c5621f2a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64679a3a8c47c7b604e26e5c491bc3e4f6e9fb8c6378800aff42260e2b3df6bc"
  },
  "id": "ZpVc5mxF0jMarf2A",
  "tags": []
}